resource2vec-core/src/test/resources/Astronaut.rdf filter=lfs diff=lfs merge=lfs -text
resource2vec-core/src/test/resources/European_Union_Country.rdf filter=lfs diff=lfs merge=lfs -text
resource2vec-core/src/test/resources/President_of_Italy.rdf filter=lfs diff=lfs merge=lfs -text
resource2vec-core/src/test/resources/person11.rdf filter=lfs diff=lfs merge=lfs -text
resource2vec-core/src/test/resources/person12.rdf filter=lfs diff=lfs merge=lfs -text
